Source: djstub
Section: contrib/otherosfs
Priority: optional
Maintainer: Stas Sergeev <stsp@users.sourceforge.net>
Standards-Version: 3.9.7
Build-Depends:
    lfanew,
    make,
    gcc,
    debhelper (>= 9~)
Homepage: https://github.com/stsp/djstub

Package: djstub
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: advanced djgpp-compatible stub subsystem
 go32-compatible stub, with support of COFF, PE and ELF formats.
